{% extends 'admin_panel/layouts/master.html' %}
{% load crispy_forms_tags %}
{% block title %} Service Form {% endblock title %}

{% block content %}

<h1 class="app-page-title mt-lg-2 mb-0 text-capitalize">Service Form</h1>
<hr>

<form action="" method="POST" class="form" enctype="multipart/form-data"> {% csrf_token %}
    
    <!-- english Content -->
    <div class="row row-cols-1 row-cols-md-2">
        
        <div class="">
            <h5 class="my-3 my-md-4">English Content</h5>

            <div class="col"> {{ form.title_en | as_crispy_field }} </div>
            <div class="col"> {{ form.short_description_en | as_crispy_field }} </div>
        </div>

        <!-- arabic Content -->
        <div class="">
            <h5 class="my-3 my-md-4">Arabic Content</h5>

            <div class="col"> {{ form.title_ar | as_crispy_field }} </div>
            <div class="col"> {{ form.short_description_ar | as_crispy_field }} </div>
        
        </div>
    
    </div>

    <!-- Display & Settings  -->
    <div>
        <h5 class="mb-2 mb-md-3 mt-4 mt-md-5">Display & Settings</h5>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.thumbnail | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.icon | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.order | as_crispy_field }}
            </div>
            <div class="mt-3">
                {{ form.is_active | as_crispy_field }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4 me-3">Submit</button>
    <a href="{% url 'service_list' %}" class="btn btn-dark mt-4"> Cancel</a>
</form>


{% endblock content %}