{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}  Our Services  {% endblock title %}


{% block content %}

    <section class="mt-[80px]">
        <div class="containr">
            <div class=" h-[260px] md:h-[320px] xl:h-[420px]" style="background-image: url({% static 'img/page-top1.jpg' %})">
                <div class="container h-full flex items-center sm:pl-8 lg:pl-30 xl:pl-40">
                    <div class="">
                        <h2 class="font-semibold text-2xl lg:text-4xl xl:text-5xl text-dark">Save your time!</h2>
                        <p class="text-dark-800 text-base lg:text-lg mt-2 lg:mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, atque!</p>

                        <div class="mt-10 lg:mt-12"><a href="#" class="bg-primary text-white px-4 lg:px-5 py-2 rounded-sm hover:bg-secondary text-sm lg:text-base">Explore Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- services start  -->
    <section class="section-padding pb-34 bg-linear-to-b from-primary-50 via-primary-50 to-secondary-100">
        <div class="container">
            <div class="section-head text-center max-w-9/10 mx-auto">
                <h2 class="heading-center">Explore Our Services</h2>
                <h1 class="section-title">Delicious Food & Reliable Delivery</h1>
                <p class="text-base/7 text-dark">
                    We provide fast delivery, quality food service, and convenient solutions to make your ordering experience simple, fresh, and satisfying.
                </p>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-y-22 gap-6">
                
                <!-- service-card  -->
                {% include 'components/service_card.html' %}
                
            </div>
        </div>
    

    </section>
    <!-- services end -->

{% endblock content %}