{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}  Home Page  {% endblock title %}


{% block content %}

<!-- hero slider start -->
<section class="relative overflow-hidden mt-[80px]">

    <div id="slider" class="relative min-h-[440px] md:h-[470px] lg:h-[660px] xl:h-[760px] 2xl:h-[840px]">

        {% for slider in hero_sliders %}

        <!-- slide -->
        <div class="slide absolute inset-0 {% if forloop.first %}active-slide{% endif %}">

            <!-- image -->
            <img src="{{ slider.image.url }}" alt="{{ slider.heading }}"
                 class="slide-bg absolute inset-0 w-full h-full object-cover">

            <!-- overlay -->
            <div class="absolute inset-0 bg-black/65"></div>

            <!-- content -->
            <div class="absolute inset-0 flex items-center z-10">

                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">

                    <div class="slide-content max-w-3xl">

                        <!-- CTA message -->
                        {% if slider.cta_message %}
                        <span class="inline-flex items-center px-5 py-2 rounded-full bg-white/10 border border-white/20 text-white text-sm font-medium backdrop-blur">
                            🔥  {{ slider.cta_message }}
                        </span>
                        {% endif %}

                        <!-- heading -->
                        {% if slider.heading %}
                        <h1 class="mt-6 text-3xl lg:text-4xl xl:text-6xl font-black text-white leading-tight">
                            {{ slider.heading }}
                        </h1>
                        {% endif %}

                        <!-- description -->
                        {% if slider.short_description %}
                        <p class="mt-4 lg:mt-6 text-sm sm:text-base lg:text-lg text-gray-200 leading-relaxed max-w-2xl">
                            {{ slider.short_description }}
                        </p>
                        {% endif %}

                        <!-- buttons -->
                        <div class="flex flex-row gap-4 mt-10">

                            {% if slider.primary_btn_txt and slider.primary_btn_url %}
                            <a href="{{ slider.primary_btn_url }}"
                               class="h-10 xl:h-14 px-6 xl:px-8 text-sm lg:text-base rounded-full bg-accent text-dark font-semibold flex items-center justify-center hover:scale-105 transition">
                                {{ slider.primary_btn_txt }}
                            </a>
                            {% endif %}

                            {% if slider.secondary_btn_txt and slider.secondary_btn_url %}
                            <a href="{{ slider.secondary_btn_url }}"
                               class="h-10 xl:h-14 px-6 xl:px-8 text-sm lg:text-base rounded-full border border-accent/50 text-white font-semibold flex items-center justify-center hover:bg-white/10 transition">
                                {{ slider.secondary_btn_txt }}
                            </a>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

        {% endfor %}

        <!-- prev btn -->
        <button id="prevBtn"
                class="hidden 2xl:block slider-btn absolute left-3 sm:left-5 top-1/2 -translate-y-1/2 z-30 w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-white/10 backdrop-blur border border-white/20 text-white text-xl hover:bg-primary">
            ❮
        </button>

        <!-- next btn -->
        <button id="nextBtn"
                class="hidden 2xl:block slider-btn absolute right-3 sm:right-5 top-1/2 -translate-y-1/2 z-30 w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-white/10 backdrop-blur border border-white/20 text-white text-xl hover:bg-primary">
            ❯
        </button>

        <!-- indicators -->
        <div class="absolute bottom-6 sm:bottom-8 left-1/2 -translate-x-1/2 z-30 flex items-center gap-3">

            {% for slider in hero_sliders %}
                <button class="indicator
                    {% if forloop.first %}
                        w-10 h-2 bg-white
                    {% else %}
                        w-2 h-2 bg-white/40
                    {% endif %}
                    rounded-full">
                </button>
            {% endfor %}

        </div>

    </div>

</section>
<!-- hero slider end -->


<!-- partners  -->
<section class="partners section-padding">
    <div class="container">
        <div class="partners-slider" id="partnersSlider">
            <div class="partners-track flex" id="partnersTrack">
                <!-- logos -->
                 {% for partner in partners %}
                <div class="partner-item">
                    {% if partner.partner_logo %}
                    <img class="partner-logo" src="{{ partner.partner_logo.url }}" alt="...">
                    {% endif %}
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>


<!-- services start  -->
<section class="pt-8 pb-34 bg-linear-to-b from-primary-50 via-primary-50 to-secondary-100">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Explore Our Services</h2>
            <h1 class="section-title">Delicious Food & Reliable Delivery</h1>
            <p class="text-base/7 text-dark">
                We provide fast delivery, quality food service, and convenient solutions to make your ordering experience simple, fresh, and satisfying.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-y-22 gap-6">
            
            <!-- service-card  -->
            <div class="service-card group relative">
                <img src="static/img/banner/s1.jpg" class="rounded-2xl z-10 w-full h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover" alt="">
                <div class="absolute shadow-xl/6 p-6 bg-white z-20 rounded-2xl transition-all duration-500 -mt-18   group-hover:-mt-42 w-19/20">
                    <img src="static/img/sv1.png" class="-mt-10 transition-all group-hover:-mt-10 duration-500" alt="">
                    
                    <a href="#" class="flex mt-7 justify-between group-hover:text-primary">
                            <h5 class="font-semibold text-xl capitalize  text-dark hover:text-primary hover:underline -mt-1">Catering service</h5>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                    <p class="card-text overflow-hidden max-h-0 opacity-0 translate-y-6 mt-0 transition-all duration-500 ease-in-out group-hover:max-h-32 group-hover:opacity-100 group-hover:translate-y-0  group-hover:mt-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta corrupti provident!</p>
                </div>
            </div>


            <!-- service-card  -->
            <div class="service-card group relative">
                <img src="static/img/banner/s3.png" class="rounded-2xl z-10 w-full h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover h-[420px] object-cover" alt="">
                <div class="absolute shadow-xl/6 p-6 bg-white z-20 rounded-2xl transition-all duration-500 -mt-18   group-hover:-mt-42 w-19/20">
                    <img src="static/img/sv1.png" class="-mt-10 transition-all group-hover:-mt-10 duration-500" alt="">
                    
                    <a href="#" class="flex mt-7 justify-between group-hover:text-primary">
                            <h5 class="font-semibold text-xl capitalize  text-dark hover:text-primary hover:underline -mt-1">Catering service</h5>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                    <p class="card-text overflow-hidden max-h-0 opacity-0 translate-y-6 mt-0 transition-all duration-500 ease-in-out group-hover:max-h-32 group-hover:opacity-100 group-hover:translate-y-0  group-hover:mt-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta corrupti provident!</p>
                </div>
            </div>
            <!-- service-card  -->
            <div class="service-card group relative">
                <img src="static/img/banner/s4.jpg" class="rounded-2xl z-10 w-full h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover h-[420px] object-cover" alt="">
                <div class="absolute shadow-xl/6 p-6 bg-white z-20 rounded-2xl transition-all duration-500 -mt-18   group-hover:-mt-42 w-19/20">
                    <img src="static/img/sv1.png" class="-mt-10 transition-all group-hover:-mt-10 duration-500" alt="">
                    
                    <a href="#" class="flex mt-7 justify-between group-hover:text-primary">
                            <h5 class="font-semibold text-xl capitalize  text-dark hover:text-primary hover:underline -mt-1">Catering service</h5>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                    <p class="card-text overflow-hidden max-h-0 opacity-0 translate-y-6 mt-0 transition-all duration-500 ease-in-out group-hover:max-h-32 group-hover:opacity-100 group-hover:translate-y-0  group-hover:mt-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta corrupti provident!</p>
                </div>
            </div>
            <!-- service-card  -->
            <div class="service-card group relative">
                <img src="static/img/banner/s2.jpeg" class="rounded-2xl z-10 w-full h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover h-[420px] object-cover" alt="">
                <div class="absolute shadow-xl/6 p-6 bg-white z-20 rounded-2xl transition-all duration-500 -mt-18   group-hover:-mt-42 w-19/20">
                    <img src="static/img/sv1.png" class="-mt-10 transition-all group-hover:-mt-10 duration-500" alt="">
                    
                    <a href="#" class="flex mt-7 justify-between group-hover:text-primary">
                            <h5 class="font-semibold text-xl capitalize  text-dark hover:text-primary hover:underline -mt-1">Catering service</h5>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                    <p class="card-text overflow-hidden max-h-0 opacity-0 translate-y-6 mt-0 transition-all duration-500 ease-in-out group-hover:max-h-32 group-hover:opacity-100 group-hover:translate-y-0  group-hover:mt-4 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta corrupti provident!</p>
                </div>
            </div>
            
        </div>
    </div>


</section>
<!-- services end -->

<!-- Rider Facilities start -->
<section class="section-padding">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Why join with us?</h2>
            <h1 class="section-title">Become a MANC Rider & Earn Easily!</h1>
            <p class="section-txt">We follow a fast and easy process to take your order, assign a rider, and deliver your food hot and fresh to your doorstep.</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12 mt-12">
            <div class="">
                <img src="static/img/icons/icon-insured.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">Safe Rides</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
            <div>
                <img src="static/img/icons/icon-bonus.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">Extra Bonuses Along with Regular Income</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
            <div>
                <img src="static/img/icons/icon-time.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">On-Time Payments</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
        </div>
        
    </div>
</section>


<!-- with and without car rider reg form start  -->
<section class="section-padding">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 ">
            <div class="order-2 lg:order-1">
                <h2 class="section-heading">We have helped clients</h2>
                <h2 class="section-title">We have helped clients optimize all logistics operations.</h2>
                <p class="section-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>

                <!-- join with car -->
                <div class="group flex justify-between bg-primary-200 px-5 py-3 xl:px-8 xl:py-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300 mt-6 lg:mt-10">
                    <div class="pe-6">
                        <a href="#">
                            <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join with car</h2>
                            <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <a href="#" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                            <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                        </a>
                    </div>
                </div>


                <!-- join without car -->
                <div class="group flex justify-between bg-secondary-200 px-5 py-3 xl:px-8 xl:py-6 mt-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300">
                    <div class="pe-6">
                        <a href="#">
                            <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join without car</h2>
                            <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <a href="#" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                            <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden order-1 lg:order-2">
                <img src="static//img//rider-banner.jpg" class="w-full h-[260px] lg:h-full object-cover [clip-path:polygon(60px_0,100%_0,100%_100%,0_100%,0_80px)] lg:[clip-path:polygon(120px_0,100%_0,100%_100%,0_100%,0_120px)]" alt="">
            </div>
        </div>
    </div>
</section>


<!-- message from md start  -->
<section class="md-message section-padding bg-linear-to-t  from-secondary-100 via-primary-50 to-secondary-100 ">
    <div class="container">

        <div class="md:flex gap-8">
            <div class="w-full lg:w-[340px] fle">
                <img src="{{ leadership_message.photo.url }}" class="w-[240px] md:w-full h-auto object-contain border border-4 border-accent shadow-2xl" alt="">
                <div class="border-l-12 border-secondary ps-5 mt-6">
                    <h5 class="capitalize text-dark text-2xl font-semibold">{{ leadership_message.name }}</h5>
                    <p class="text-base text-dark-800 font-medium">{{ leadership_message.designation }}</p>
                </div>
            </div>
            
            <div>
                <h1 class="section-title text-dark capitalize hidden lg:block">{{ leadership_message.heading }}</h1>
                <p class="text-secondary text-lg font-medium capitalize mt-8 lg:mt-12">Message From</p>
                <h2 class="font-semibold text-dark text-2xl text-dark">{{ leadership_message.designation }}</h2>

                <p class="mt-6 text-dark-800 ">{{ leadership_message.message_01 }}</p>

                <p class="mt-3 text-dark-800 ">{{ leadership_message.message_02 }}</p>

                <a href="#" class="block group mt-8 text-primary underline font-medium text-base hover:text-secondary transition duration-300">
                    know More<i class="fa-solid fa-arrow-right-long ms-2 group-hover:translate-x-1 transition-all duration-300"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- message from md end -->


<!-- B2B - why choose us start  -->
<section class="section-padding">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Why Choose Us?</h2>
            <h1 class="section-title">Choose MANC Riders as your logistics partner</h1>
            <p class="section-txt">We follow a fast and easy process to take your order, assign a rider, and deliver your food hot and fresh to your doorstep.</p>
        </div>

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16">
            <!-- <div class="b2b-card">
                <img src="static/img/icons/Fastest-solutions.png" class="object-contain w-20 md:w-22 lg:w-26 xl:w-28 h-auto w-20 md:w-22 lg:w-26 xl:w-28 h-auto" alt="">
                <h5 class="card-title mt-6 font-semibold capitalize">Fastest solutions</h5>
                <p class="card-text mt-4">Backed by an agile team and dynamic operations, we promise to find the fastest solutions for your needs</p>
            </div> -->

            {% for benefit in benefits %}
            <div class="b2b-card">
                {% if benefit.icon %}
                <img src="{{ benefit.icon.url }}" class="object-contain w-20 md:w-22 lg:w-26 xl:w-28 h-auto" alt="{{ benefit.title }}">
                {% endif %}
                <h5 class="card-title mt-6 font-semibold capitalize">{{ benefit.title }}</h5>
                <p class="card-text mt-4">{{ benefit.description }}</p>
            </div>
            {% endfor %}

            
        </div>

        <div class=" text-center mt-16">
            <a href="#" ><h5 class="mx-auto px-6 lg:px-8 py-4 bg-accent text-dark text-sm w-48 lg:w-64 font-semibold">Become a Partner</h5></a>
        </div>
    </div>
</section>
<!-- B2B - why choose us end -->


<!-- working progress start  -->
<section class="section-padding bg-white overflow-hidden">
    <div class="container mx-auto px-6">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">WORKING PROCESS</h2>
            <h1 class="section-title">Fast & Easy Delivery Process!</h1>
            <p class="section-txt">We follow a fast and easy process to take your order, assign a rider, and deliver your food hot and fresh to your doorstep.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 lg:gap-10 xl:gap-12">

            <!-- Step 1 -->
            <div class="group relative text-center">

                <!-- Timeline -->
                <div class="relative flex justify-center mb-6 md:mb-8 lg:mb-12 xl:mb-14">

                    <!-- Right dashed line -->
                    <div class="hidden md:block absolute top-1/2 left-1/2 w-full border-t border-dashed border-primary-300"></div>
                    <div class="hidden md:block absolute top-1/2 right-1/2 w-1/2 border-t border-dashed border-primary-300"></div>

                    <!-- Car -->
                    <div class="hidden md:flex absolute top-1/2 left-full -translate-x-1/2 -translate-y-1/2 z-20 bg-white px-2">
                        <i class="fa-solid fa-car-side text-primary text-xl"></i>
                    </div>

                    <!-- Number -->
                    <div class="relative z-10 size-12 lg:size-14 rounded-full bg-primary-100 flex items-center justify-center text-lg lg:text-xl xl:text-2xl font-semibold text-primary group-hover:bg-primary group-hover:text-white transition-all duration-300">01 </div>

                </div>

                <div class="relative">
                    <!-- Step Arrow -->
                    <div class="hidden md:block absolute h-[170px] top-[30px] -right-24">
                        <img src="static/img/step-sh.png" alt="">
                    </div>

                    <!-- Step Image -->
                    <div class="mx-auto size-[170px] rounded-full border border-dark p-2 relative z-10">
                        <div class="overflow-hidden rounded-full size-full">
                            <img src="static/img/st1.png" class="w-full h-full object-cover"   alt="">
                        </div>
                    </div>
                </div>

                <h3 class="mt-4 md:mt-6 xl:mt-8 text-xl md:text-2xl xl:text-3xl font-semibold text-dark"> Order Placed </h3>
                <p class="mt-2 md:mt-3 xl:mt-4 text-dark-800 text-base lg:text-lg"> You place your food order easily </p>

            </div>

            <!-- Step 2 -->
            <div class="group relative text-center">

                <!-- Timeline -->
                <div class="relative flex justify-center mb-6 md:mb-8 lg:mb-12 xl:mb-14">

                    <!-- Right dashed line -->
                    <div class="hidden md:block absolute top-1/2 left-1/2 w-full border-t border-dashed border-primary-300"></div>
                    <div class="hidden md:block absolute top-1/2 right-1/2 w-1/2 border-t border-dashed border-primary-300"></div>

                    <!-- Car -->
                    <div class="hidden md:flex absolute top-1/2 left-full -translate-x-1/2 -translate-y-1/2 z-20 bg-white px-2">
                        <i class="fa-solid fa-car-side text-primary text-xl"></i>
                    </div>

                    <!-- Number -->
                    <div class="relative z-10 size-12 lg:size-14 rounded-full bg-primary-100 flex items-center justify-center text-lg lg:text-xl xl:text-2xl font-semibold text-primary group-hover:bg-primary group-hover:text-white transition-all duration-300">02 </div>

                </div>

                <div class="relative">
                    <!-- Step Arrow -->
                    <div class="hidden md:block absolute h-[170px] top-[30px] -right-24">
                        <img src="static/img/step-sh.png" alt="">
                    </div>

                    <!-- Step Image -->
                    <div class="mx-auto size-[170px] rounded-full border border-primary p-2 relative z-10">
                        <div class="overflow-hidden rounded-full size-full">
                            <img src="static/img/st2.png" class="w-full h-full object-cover"   alt="">
                        </div>
                    </div>
                </div>

                <h3 class="mt-4 md:mt-6 xl:mt-8 text-xl md:text-2xl xl:text-3xl font-semibold text-dark"> Rider Assigned </h3>
                <p class="mt-2 md:mt-3 xl:mt-4 text-dark-800 text-base lg:text-lg"> Nearest rider is assigned to your order </p>

            </div>

            <!-- Step 3 -->
            <div class="group relative text-center">

                <!-- Timeline -->
                <div class="relative flex justify-center mb-6 md:mb-8 lg:mb-12 xl:mb-14">

                    <!-- Right dashed line -->
                    <!-- <div class="hidden md:block absolute top-1/2 left-1/2 w-full border-t border-dashed border-primary-300"></div> -->
                    <div class="hidden md:block absolute top-1/2 left-1/2 w-1/2 border-t border-dashed border-primary-300"></div>

                    <!-- Car -->
                    <!-- <div class="hidden md:flex absolute top-1/2 left-full -translate-x-1/2 -translate-y-1/2 z-20 bg-white px-2">
                        <i class="fa-solid fa-car-side text-primary text-xl"></i>
                    </div> -->

                    <!-- Number -->
                    <div class="relative z-10 size-12 lg:size-14 rounded-full bg-primary-100 flex items-center justify-center text-lg lg:text-xl xl:text-2xl font-semibold text-primary group-hover:bg-primary group-hover:text-white transition-all duration-300">03 </div>

                </div>

                <div class="relative">
                    <!-- Step Arrow -->
                    <!-- <div class="hidden md:block absolute h-[170px] top-[30px] -right-24">
                        <img src="static/img/step-sh.png" alt="">
                    </div> -->

                    <!-- Step Image -->
                    <div class="mx-auto size-[170px] rounded-full border border-dark p-2 relative z-10">
                        <div class="overflow-hidden rounded-full size-full">
                            <img src="static/img/st3.png" class="w-full h-full object-cover"   alt="">
                        </div>
                    </div>
                </div>

                <h3 class="mt-4 md:mt-6 xl:mt-8 text-xl md:text-2xl xl:text-3xl font-semibold text-dark"> Food Delivered </h3>
                <p class="mt-2 md:mt-3 xl:mt-4 text-dark-800 text-base lg:text-lg"> Hot food delivered to your doorstep fast</p>

            </div>

        </div>

    </div>
</section>
<!-- working progress end -->


<!-- expert team start  -->
<section class="section-padding bg-linear-to-r/decreasing  from-secondary-50 to-primary-50">
    <div class="container mx-auto px-6">
        <div class="section-head text-center">
            <h2 class="heading-center">Our Expert Team</h2>
            <h1 class="section-title">We support with our honesty!</h1>
            <p class="section-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque cum, consectetur dolorem veniam illo aut dolores.</p>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-6 xl:gap-8">

            <!-- Card -->
            <div class="group text-center">

                <!-- Image Container -->
                <div class="relative overflow-hidden rounded-[16px] 2xl:rounded-[30px]">
                    <img src="static/img/team1.jpg" alt="" class="w-full h-[183px] sm:h-[231px] md:h-[283px] lg:h-[316px] xl:h-[273px] 2xl:h-[336px] object-cover transition-transform duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]">
                    <!-- Dark Overlay -->
                    <div class="absolute inset-0 bg-dark/0 group-hover:bg-dark/30 transition-all duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]"> </div>

                    <!-- Floating Button -->
                    <a href="#" class="absolute bottom-2 md:bottom-3 xl:bottom-4 right-2 md:right-3 xl:right-4 bg-primary size-8 md:size-10 xl:size-12 text-sm md:text-base xl:text-lg rounded-full flex items-center justify-center shadow-lg transition-all duration-300 hover:bg-secondary">
                        <i class="fa-solid fa-link text-white"></i>
                    </a>
                </div>

                <!-- Content -->
                <div class="mt-3 md:mt-4 xl:mt-5">
                    <h3 class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-dark"> Mamun Hasan</h3>
                    <p class="text-sm md:text-base  xl:text-lg text-dark-800 mt-1"> Head of operations</p>
                </div>

            </div>

            <!-- Card -->
            <div class="group text-center">

                <!-- Image Container -->
                <div class="relative overflow-hidden rounded-[16px] 2xl:rounded-[30px]">
                    <img src="static/img/team2.jpg" alt="" class="w-full h-[183px] sm:h-[231px] md:h-[283px] lg:h-[316px] xl:h-[273px] 2xl:h-[336px] object-cover transition-transform duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]">
                    <!-- Dark Overlay -->
                    <div class="absolute inset-0 bg-dark/0 group-hover:bg-dark/30 transition-all duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]"> </div>

                    <!-- Floating Button -->
                    <a href="#" class="absolute bottom-2 md:bottom-3 xl:bottom-4 right-2 md:right-3 xl:right-4 bg-primary size-8 md:size-10 xl:size-12 text-sm md:text-base xl:text-lg rounded-full flex items-center justify-center shadow-lg transition-all duration-300 hover:bg-secondary">
                        <i class="fa-solid fa-link text-white"></i>
                    </a>
                </div>

                <!-- Content -->
                <div class="mt-3 md:mt-4 xl:mt-5">
                    <h3 class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-dark"> Mamun Hasan</h3>
                    <p class="text-sm md:text-base  xl:text-lg text-dark-800 mt-1"> Head of operations</p>
                </div>

            </div>
            <!-- Card -->
            <div class="group text-center">

                <!-- Image Container -->
                <div class="relative overflow-hidden rounded-[16px] 2xl:rounded-[30px]">
                    <img src="static/img/team3.jpg" alt="" class="w-full h-[183px] sm:h-[231px] md:h-[283px] lg:h-[316px] xl:h-[273px] 2xl:h-[336px] object-cover transition-transform duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]">
                    <!-- Dark Overlay -->
                    <div class="absolute inset-0 bg-dark/0 group-hover:bg-dark/30 transition-all duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]"> </div>

                    <!-- Floating Button -->
                    <a href="#" class="absolute bottom-2 md:bottom-3 xl:bottom-4 right-2 md:right-3 xl:right-4 bg-primary size-8 md:size-10 xl:size-12 text-sm md:text-base xl:text-lg rounded-full flex items-center justify-center shadow-lg transition-all duration-300 hover:bg-secondary">
                        <i class="fa-solid fa-link text-white"></i>
                    </a>
                </div>

                <!-- Content -->
                <div class="mt-3 md:mt-4 xl:mt-5">
                    <h3 class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-dark"> Mamun Hasan</h3>
                    <p class="text-sm md:text-base  xl:text-lg text-dark-800 mt-1"> Head of operations</p>
                </div>

            </div>
            <!-- Card -->
            <div class="group text-center">

                <!-- Image Container -->
                <div class="relative overflow-hidden rounded-[16px] 2xl:rounded-[30px]">
                    <img src="static/img/team4.jpg" alt="" class="w-full h-[183px] sm:h-[231px] md:h-[283px] lg:h-[316px] xl:h-[273px] 2xl:h-[336px] object-cover transition-transform duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]">
                    <!-- Dark Overlay -->
                    <div class="absolute inset-0 bg-dark/0 group-hover:bg-dark/30 transition-all duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]"> </div>

                    <!-- Floating Button -->
                    <a href="#" class="absolute bottom-2 md:bottom-3 xl:bottom-4 right-2 md:right-3 xl:right-4 bg-primary size-8 md:size-10 xl:size-12 text-sm md:text-base xl:text-lg rounded-full flex items-center justify-center shadow-lg transition-all duration-300 hover:bg-secondary">
                        <i class="fa-solid fa-link text-white"></i>
                    </a>
                </div>

                <!-- Content -->
                <div class="mt-3 md:mt-4 xl:mt-5">
                    <h3 class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-dark"> Mamun Hasan</h3>
                    <p class="text-sm md:text-base  xl:text-lg text-dark-800 mt-1"> Head of operations</p>
                </div>

            </div>
            <!-- Card -->
            <div class="group text-center">

                <!-- Image Container -->
                <div class="relative overflow-hidden rounded-[16px] 2xl:rounded-[30px]">
                    <img src="static/img/team2.jpg" alt="" class="w-full h-[183px] sm:h-[231px] md:h-[283px] lg:h-[316px] xl:h-[273px] 2xl:h-[336px] object-cover transition-transform duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]">
                    <!-- Dark Overlay -->
                    <div class="absolute inset-0 bg-dark/0 group-hover:bg-dark/30 transition-all duration-500 [clip-path:polygon(0_0,75%_0,100%_18%,100%_100%,0_100%)]"> </div>

                    <!-- Floating Button -->
                    <a href="#" class="absolute bottom-2 md:bottom-3 xl:bottom-4 right-2 md:right-3 xl:right-4 bg-primary size-8 md:size-10 xl:size-12 text-sm md:text-base xl:text-lg rounded-full flex items-center justify-center shadow-lg transition-all duration-300 hover:bg-secondary">
                        <i class="fa-solid fa-link text-white"></i>
                    </a>
                </div>

                <!-- Content -->
                <div class="mt-3 md:mt-4 xl:mt-5">
                    <h3 class="text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold text-dark"> Mamun Hasan</h3>
                    <p class="text-sm md:text-base  xl:text-lg text-dark-800 mt-1"> Head of operations</p>
                </div>

            </div>




        </div>

    </div>
</section>
<!-- expert team end  -->




<!-- FAQ start  -->
{% include 'components/faq.html' %}


<!-- subscribe start  -->
{% include 'components/subscribe.html' %}



{% endblock content %}

