{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}  Home Page  {% endblock title %}


{% block content %}

<!-- hero slider start -->
<section class="relative overflow-hidden mt-[80px]">

    <div id="slider" class="relative min-h-[440px] md:h-[470px] lg:h-[660px] xl:h-[760px] 2xl:h-[840px]">

        {% for slider in hero_sliders %}

        <!-- slide -->
        <div class="slide absolute inset-0 {% if forloop.first %}active-slide{% endif %}">

            <!-- image -->
            <img src="{{ slider.image.url }}" alt="{{ slider.heading }}"
                 class="slide-bg absolute inset-0 w-full h-full object-cover">

            <!-- overlay -->
            <div class="absolute inset-0 bg-black/65"></div>

            <!-- content -->
            <div class="absolute inset-0 flex items-center z-10">

                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full">

                    <div class="slide-content max-w-3xl">

                        <!-- CTA message -->
                        {% if slider.cta_message %}
                        <span class="inline-flex items-center px-5 py-2 rounded-full bg-white/10 border border-white/20 text-white text-sm font-medium backdrop-blur">
                            🔥  {{ slider.cta_message }}
                        </span>
                        {% endif %}

                        <!-- heading -->
                        {% if slider.heading %}
                        <h1 class="mt-6 text-3xl lg:text-4xl xl:text-6xl font-black text-white leading-tight">
                            {{ slider.heading }}
                        </h1>
                        {% endif %}

                        <!-- description -->
                        {% if slider.short_description %}
                        <p class="mt-4 lg:mt-6 text-sm sm:text-base lg:text-lg text-gray-200 leading-relaxed max-w-2xl">
                            {{ slider.short_description }}
                        </p>
                        {% endif %}

                        <!-- buttons -->
                        <div class="flex flex-row gap-4 mt-10">

                            {% if slider.primary_btn_txt and slider.primary_btn_url %}
                            <a href="{{ slider.primary_btn_url }}"
                               class="h-10 xl:h-14 px-6 xl:px-8 text-sm lg:text-base rounded-full bg-accent text-dark font-semibold flex items-center justify-center hover:scale-105 transition">
                                {{ slider.primary_btn_txt }}
                            </a>
                            {% endif %}

                            {% if slider.secondary_btn_txt and slider.secondary_btn_url %}
                            <a href="{{ slider.secondary_btn_url }}"
                               class="h-10 xl:h-14 px-6 xl:px-8 text-sm lg:text-base rounded-full border border-accent/50 text-white font-semibold flex items-center justify-center hover:bg-white/10 transition">
                                {{ slider.secondary_btn_txt }}
                            </a>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

        {% endfor %}

        <!-- prev btn -->
        <button id="prevBtn"
                class="hidden 2xl:block slider-btn absolute left-3 sm:left-5 top-1/2 -translate-y-1/2 z-30 w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-white/10 backdrop-blur border border-white/20 text-white text-xl hover:bg-primary">
            ❮
        </button>

        <!-- next btn -->
        <button id="nextBtn"
                class="hidden 2xl:block slider-btn absolute right-3 sm:right-5 top-1/2 -translate-y-1/2 z-30 w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-white/10 backdrop-blur border border-white/20 text-white text-xl hover:bg-primary">
            ❯
        </button>

        <!-- indicators -->
        <div class="absolute bottom-6 sm:bottom-8 left-1/2 -translate-x-1/2 z-30 flex items-center gap-3">

            {% for slider in hero_sliders %}
                <button class="indicator
                    {% if forloop.first %}
                        w-10 h-2 bg-white
                    {% else %}
                        w-2 h-2 bg-white/40
                    {% endif %}
                    rounded-full">
                </button>
            {% endfor %}

        </div>

    </div>

</section>
<!-- hero slider end -->


<!-- partners  -->
<section class="partners section-padding">
    <div class="container">
        <div class="partners-slider" id="partnersSlider">
            <div class="partners-track flex" id="partnersTrack">
                <!-- logos -->
                 {% for partner in partners %}
                <div class="partner-item">
                    {% if partner.partner_logo %}
                    <img class="partner-logo" src="{{ partner.partner_logo.url }}" alt="...">
                    {% endif %}
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>


<!-- services start  -->
<section class="pt-8 pb-34 bg-linear-to-b from-primary-50 via-primary-50 to-secondary-100">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Explore Our Services</h2>
            <h1 class="section-title">Delicious Food & Reliable Delivery</h1>
            <p class="text-base/7 text-dark">
                We provide fast delivery, quality food service, and convenient solutions to make your ordering experience simple, fresh, and satisfying.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-y-22 gap-6">
            
            <!-- service-card  -->
            {% include 'components/service_card.html' %}

        </div>
    </div>


</section>
<!-- services end -->

<!-- Rider Facilities start -->
<section class="section-padding">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Why join with us?</h2>
            <h1 class="section-title">Become a MANC Rider & Earn Easily!</h1>
            <p class="section-txt">We follow a fast and easy process to take your order, assign a rider, and deliver your food hot and fresh to your doorstep.</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12 mt-12">
            <div class="">
                <img src="static/img/icons/icon-insured.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">Safe Rides</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
            <div>
                <img src="static/img/icons/icon-bonus.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">Extra Bonuses Along with Regular Income</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
            <div>
                <img src="static/img/icons/icon-time.png" class="w-[64px] md:w-[74px] lg:w-[84px] xl:w-[96px] h-auto object-contain" alt="">
                <h5 class="mt-4 lg:mt-6 font-semibold text-lg lg:text-xl text-dark">On-Time Payments</h5>
                <p class="text-dark-800 mt-1 lg:mt-2 text-sm/6 lg:text-lg/7">Every ride with Pathao is safe and covered under Safety Coverage Services, making each trip more secure and reliable.</p>
            </div>
        </div>
        
    </div>
</section>


<!-- with and without car rider reg form start  -->
<section class="section-padding">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 ">
            <div class="order-2 lg:order-1">
                <h2 class="section-heading">We have helped clients</h2>
                <h2 class="section-title">We have helped clients optimize all logistics operations.</h2>
                <p class="section-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>

                <!-- join with car -->
                <div class="group flex justify-between bg-primary-200 px-5 py-3 xl:px-8 xl:py-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300 mt-6 lg:mt-10">
                    <div class="pe-6">
                        <a href="{% url 'rider_register' %}">
                            <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join with car</h2>
                            <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <a href="{% url 'rider_register' %}" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                            <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                        </a>
                    </div>
                </div>


                <!-- join without car -->
                <div class="group flex justify-between bg-secondary-200 px-5 py-3 xl:px-8 xl:py-6 mt-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300">
                    <div class="pe-6">
                        <a href="{% url 'rider_register' %}">
                            <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join without car</h2>
                            <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <a href="{% url 'rider_register' %}" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                            <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden order-1 lg:order-2">
                <img src="{% static 'img/rider-banner.jpg' %}" class="w-full h-[260px] lg:h-full object-cover [clip-path:polygon(60px_0,100%_0,100%_100%,0_100%,0_80px)] lg:[clip-path:polygon(120px_0,100%_0,100%_100%,0_100%,0_120px)]" alt="">
            </div>
        </div>
    </div>
</section>


<!-- message from md start  -->

    {% include 'components/leadership_message.html' %}

<!-- message from md end -->


<!-- B2B - why choose us start  -->
<section class="section-padding">
    <div class="container">
        <div class="section-head text-center max-w-9/10 mx-auto">
            <h2 class="heading-center">Why Choose Us?</h2>
            <h1 class="section-title">Choose MANC Riders as your logistics partner</h1>
            <p class="section-txt">We follow a fast and easy process to take your order, assign a rider, and deliver your food hot and fresh to your doorstep.</p>
        </div>

        <div class="grid grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16">
            <!-- <div class="b2b-card">
                <img src="static/img/icons/Fastest-solutions.png" class="object-contain w-20 md:w-22 lg:w-26 xl:w-28 h-auto w-20 md:w-22 lg:w-26 xl:w-28 h-auto" alt="">
                <h5 class="card-title mt-6 font-semibold capitalize">Fastest solutions</h5>
                <p class="card-text mt-4">Backed by an agile team and dynamic operations, we promise to find the fastest solutions for your needs</p>
            </div> -->

            {% for benefit in benefits %}
            <div class="b2b-card">
                {% if benefit.icon %}
                <img src="{{ benefit.icon.url }}" class="object-contain w-20 md:w-22 lg:w-26 xl:w-28 h-auto" alt="{{ benefit.title }}">
                {% endif %}
                <h5 class="card-title mt-6 font-semibold capitalize">{{ benefit.title }}</h5>
                <p class="card-text mt-4">{{ benefit.description }}</p>
            </div>
            {% endfor %}

            
        </div>

        <div class=" text-center mt-16">
            <a href="#" ><h5 class="mx-auto px-6 lg:px-8 py-4 bg-accent text-dark text-sm w-48 lg:w-64 font-semibold">Become a Partner</h5></a>
        </div>
    </div>
</section>
<!-- B2B - why choose us end -->


<!-- working progress start  -->
{% include 'components/working_process.html' %}
<!-- working progress end -->


<!-- expert team start  -->

    {% include 'components/expert_team.html' %}

<!-- expert team end  -->




<!-- FAQ start  -->
{% include 'components/faq.html' %}


<!-- subscribe start  -->
{% include 'components/subscribe.html' %}



{% endblock content %}

