{% extends 'admin_panel/layouts/master.html' %}
{% load crispy_forms_tags %}
{% block title %} Pricing Plan Form {% endblock title %}

{% block content %}

<h1 class="app-page-title mt-lg-4 mb-0">Pricing Plan Form</h1>
<hr>

<form action="" method="POST" class="form" enctype="multipart/form-data"> {% csrf_token %}
    
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            {{ form.name | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.title | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.price | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.currency | as_crispy_field }}
        </div>

        <div class="col">
            {{ form.max_countries | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.max_universities_per_report | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.max_reports | as_crispy_field }}
        </div>
        <!-- <div class="col">
            {{ form.duration_days | as_crispy_field }}
        </div> -->


        <div class="col">
            {{ form.order | as_crispy_field }}
        </div>
    </div>

    <div class="d-flex mt-3">
        <div class="me-5">{{ form.is_popular | as_crispy_field }}</div>
        <div>{{ form.is_active | as_crispy_field }}</div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-4 me-3">Submit</button>
    <a href="{% url 'pricing_plan_list' %}" class="btn btn-dark mt-4"> Cancel</a>
</form>
			 


{% endblock content %}