@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap');



@config "../../tailwind.config.js";


/* @import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css"; */

@import "./components/hero_slider.css";
@import "./components/partner_slider.css";





@theme {
    --font-heading: "Sora", sans-serif;
    --font-body: "Inter", sans-serif;
}


@layer base {

    body{
        font-family: var(--font-body);
    }

    h1,h2,h3,h4,h5,h6{
        font-family: var(--font-heading);
    }

}



/* custom css class  */
@layer components {
    .section-heading {
        @apply relative inline-block text-lg uppercase mb-10 md:text-xl font-bold text-primary
        after:content-['']
        after:absolute
        after:left-0
        after:-bottom-2
        after:w-20
        after:h-[3px]
        after:bg-primary
        after:rounded-full;
    }
    .heading-center {
        @apply relative inline-block text-lg uppercase mb-12 md:text-xl font-bold text-primary;
    }

    /* line under heading */
    .heading-center::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -14px;
        width: 140px;
        height: 2px;
        background-color: currentColor;
        border-radius: 9999px;
    }

    /* center circle */
    .heading-center::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -19px;
        width: 12px;
        height: 12px;
        background-color: currentColor;
        border-radius: 9999px;
        z-index: 10;
    }

    .section-title{
        @apply text-dark text-4xl font-semibold mb-4
    }

    .section-head{
        @apply xl:mb-18
    }

    .section-padding{
        @apply py-24;
    }

    .font-heading{
        font-family: var(--font-heading);
    }

    .font-body{
        font-family: var(--font-body);
    }

    .text-body{
        @apply text-dark-800 text-base/6 lg:text-lg/7 
    }
    .card-text{
        @apply text-dark-800 text-sm/6 lg:text-base/7 
    }
    .card-title{
        @apply text-dark capitalize text-lg/6 md:text-xl/7 lg:text-2xl/7 
    }
}