@import "tailwindcss";

@config "../../tailwind.config.js";


/* @import "./components/buttons.css";
@import "./components/forms.css";
@import "./components/cards.css"; */

@import "./components/hero_slider.css";


.btn{
    border: 1px solid red
}


@layer components {
    .section-heading {
        @apply relative inline-block text-lg uppercase mb-10 md:text-xl font-bold text-primary mb-4
        after:content-['']
        after:absolute
        after:left-0
        after:-bottom-2
        after:w-20
        after:h-[3px]
        after:bg-primary
        after:rounded-full;
    }

    .section-title{
        @apply text-dark text-4xl font-semibold mb-4
    }

    .section-padding{
        @apply py-24;
    }
}