{% load static %}

{% for service in services %}
<div class="service-card group relative">
    {% if service.thumbnail %}
    <img src="{{ service.thumbnail.url }}" class="rounded-2xl z-10 w-full h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover h-[406px] sm:h-[353px] md:h-[427px] lg:h-[574px] xl:h-[347px] 2xl:h-[420px] object-cover" alt="">
    {% endif %}

    <div class="absolute shadow-xl/6 p-6 bg-white z-20 rounded-2xl transition-all duration-500 -mt-18   group-hover:-mt-42 w-19/20">
        {% if service.thumbnail %}
        <img src="{{ service.icon.url }}" class="-mt-10 transition-all group-hover:-mt-10 duration-500" alt="">
        {% endif %}
        
        <a href="#" class="flex mt-7 justify-between group-hover:text-primary">
                <h5 class="font-semibold text-xl capitalize  text-dark hover:text-primary hover:underline -mt-1">{{ service.title }}</h5>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <p class="card-text overflow-hidden max-h-0 opacity-0 translate-y-6 mt-0 transition-all duration-500 ease-in-out group-hover:max-h-32 group-hover:opacity-100 group-hover:translate-y-0  group-hover:mt-4 ">{{ service.short_description }}</p>
    </div>
</div>
{% endfor %}