{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}  About Us  {% endblock title %}


{% block content %}

    <!-- about us  -->
    <section class="section-padding mt-[80px]">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 ">
                <div class="">
                    <h2 class="section-heading">About MANC Riders</h2>
                    <h2 class="section-title capitalize">{{ about_us.heading }} </h2>
                    <p class="section-txt">{{ about_us.short_description }}</p>

                    <ul class="mt-4 text-dark-800">
                        {% if about_us.feature_01 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_01 }}</li>
                        {% endif %}
                        {% if about_us.feature_02 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_02 }}</li>
                        {% endif %}
                        {% if about_us.feature_03 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_03 }}</li>
                        {% endif %}
                        {% if about_us.feature_04 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_04 }}</li>
                        {% endif %}
                        {% if about_us.feature_05 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_05 }}</li>
                        {% endif %}
                        {% if about_us.feature_06 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_06 }}</li>
                        {% endif %}
                        {% if about_us.feature_07 %}
                        <li><i class="fa-solid fa-check me-2 text-primary"></i>{{ about_us.feature_07 }}</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="overflow-hidden">
                    <img src="{{ about_us.thumbnail.url }}" class="w-full h-[260px] lg:h-full object-cover " alt="">
                </div>
            </div>

            <!-- mission vission  -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-16 lg:mt-20">
                <div>
                    <img src="{% static 'img/mission.svg' %}" alt="Our mission">
                    <h5 class="capitalize text-dark text-xl lg:text-2xl font-semibold mt-4 lg:mt-6">Our mission</h5>
                    <p class="text-dark-800 text-base xl:text-lg mt-2">{{ about_us.mission }}</p>
                </div>
                <div>
                    <img src="{% static 'img/vision.svg' %}" alt="our vision">
                    <h5 class="capitalize text-dark text-xl lg:text-2xl font-semibold mt-4 lg:mt-6">Our Vision</h5>
                    <p class="text-dark-800 text-base xl:text-lg mt-2">{{ about_us.mission }}</p>
                </div>
            </div>
        </div>
    </section>


    <!-- message from md start  -->

        {% include 'components/leadership_message.html' %}

    <!-- message from md end -->


    <!-- with and without car rider reg form start  -->
    <section class="section-padding">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-12 ">
                <div class="order-2 lg:order-1">
                    <h2 class="section-heading">We have helped clients</h2>
                    <h2 class="section-title">We have helped clients optimize all logistics operations.</h2>
                    <p class="section-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>

                    <!-- join with car -->
                    <div class="group flex justify-between bg-primary-200 px-5 py-3 xl:px-8 xl:py-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300 mt-6 lg:mt-10">
                        <div class="pe-6">
                            <a href="#">
                                <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join with car</h2>
                                <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                            </a>
                        </div>
                        <div class="flex items-center">
                            <a href="#" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                                <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                            </a>
                        </div>
                    </div>


                    <!-- join without car -->
                    <div class="group flex justify-between bg-secondary-200 px-5 py-3 xl:px-8 xl:py-6 mt-6 border-l-6 border-primary rounded-xl hover:bg-accent-300 transition-all duration-300">
                        <div class="pe-6">
                            <a href="#">
                                <h2 class="font-semibold text-xl xl:text-2xl capitalize text-dark">Join without car</h2>
                                <p class="mt-1 lg:mt-3 text-sm/6 lg:text-lg/7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi nobis perferendis.</p>
                            </a>
                        </div>
                        <div class="flex items-center">
                            <a href="#" class="bg-primary rounded-full size-4 p-5 lg:size-6 lg:p-6 flex items-center justify-center">
                                <i class="fa-solid fa-arrow-right -rotate-45 text-accent transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden order-1 lg:order-2">
                    <img src="static//img//rider-banner.jpg" class="w-full h-[260px] lg:h-full object-cover [clip-path:polygon(60px_0,100%_0,100%_100%,0_100%,0_80px)] lg:[clip-path:polygon(120px_0,100%_0,100%_100%,0_100%,0_120px)]" alt="">
                </div>
            </div>
        </div>
    </section>


<!-- working progress start  -->

    {% include 'components/working_process.html' %}

<!-- working progress end -->


    <!-- expert team start  -->

        {% include 'components/expert_team.html' %}

    <!-- expert team end  -->



    <!-- subscribe start  -->

   
{% endblock content %}

