{% extends 'admin_panel/layouts/master.html' %}
{% load custom_filters %}
{% load static %}

{% block title %} Newsletter List {% endblock title %}

{% block content %} 

<!-- search start  -->
<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0 text-capitalize">Newsletter List</h1>

    </div>
    <div class="col-auto">
         <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <!-- <div class="col-auto">
                    <form class="table-search-form row gx-1 align-items-center">
                        <div class="col-auto">
                            <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search" style="padding: 17px;">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn app-btn-secondary">Search</button>
                        </div>
                    </form>
                    
                </div> -->

                <div class="col-auto">
                    <h5 class="card-title mb-0 text-end"><a href="{% url 'newsletter_create' %}" class="btn btn-primary text-capitalize">Add New Silder</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-card app-card-orders-table shadow-sm mb-5">
    <div class="app-card-body">
        <div class="table-responsive">
            <table class="table app-table-hover mb-0 text-left">
                <thead>
                    <tr>
                        <th class="cell text-capitalize">ID</th>
                        <th class="cell text-capitalize">Subscribe At</th>

                        <th class="cell text-capitalize">Email Adress</th>

                        <!-- <th class="cell text-capitalize">Order</th> -->
                        <th class="cell text-capitalize">Status</th>
                        <th class="cell text-capitalize">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for newsletter in newsletters %}
                    <tr>
                        <td class="cell">{{ newsletter.id }}</td>
                        <td class="cell"><span>{{ newsletter.created_at | abbreviate_month }}</span><span class="note">{{ newsletter.created_at | time:"h:i A" }}</span></td>
                        <td class="cell"><span class="truncate">{{ newsletter.email }}</span></td>
                       

                        <!-- <td class="cell">{% if newsletter.order %} {{ newsletter.order  }}{% else %} N/A {% endif %} </td> -->
                        <td class="cell">{{ newsletter.is_active | active_inactive }}</td>
                        
                        <td class="cell">
                            <a href="{% url 'newsletter_update' newsletter.id %}" class=" px-1" style="color: var(--primary);"><i class="fa-regular fa-pen-to-square"></i></a>
                            <!-- <a href="#" class=" px-1" style="color: var(--danger);"><i class="fa-regular fa-trash-can"></i></a> -->
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div><!--//table-responsive-->
       
    </div><!--//app-card-body-->		
</div><!--//app-card-->


<!-- pagination -->
<!-- <nav class="app-pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav> -->



{% endblock content %}</h1>

  