{% extends 'admin_panel/layouts/master.html' %}
{% load crispy_forms_tags %}
{% block title %} Site Settings Form {% endblock title %}

{% block content %}

<h1 class="app-page-title mt-lg-2 mb-0 text-capitalize">Site Settings Form</h1>
<hr>

<form action="" method="POST" class="form" enctype="multipart/form-data"> {% csrf_token %}
    
    <!-- english Content -->
    <div class="row row-cols-1 row-cols-md-2">
        
        <div class="">
            <h5 class="my-3 my-md-4">English Content</h5>

            <div class="col"> {{ form.mobile_sale_en | as_crispy_field }} </div>
            <div class="col"> {{ form.mobile_support_en | as_crispy_field }} </div>
            
            <div class="col">  {{ form.address_en | as_crispy_field }} </div>
            <div class="col"> {{ form.about_company_en | as_crispy_field }} </div>
            <div class="col">  {{ form.office_hours_en | as_crispy_field }} </div>
        </div>

        <!-- arabic Content -->
        <div class="">
            <h5 class="my-3 my-md-4">Arabic Content</h5>

            <div class="col"> {{ form.mobile_sale_ar | as_crispy_field }} </div>
            <div class="col"> {{ form.mobile_support_ar | as_crispy_field }} </div>

            <div class="col">   {{ form.address_ar | as_crispy_field }} </div>
            <div class="col"> {{ form.about_company_ar | as_crispy_field }} </div>
            <div class="col"> {{ form.office_hours_ar | as_crispy_field }} </div>
        
        </div>
    
    </div>
 

    <!-- Display & Settings  -->
    <div>
        <h5 class="mb-2 mb-md-3 mt-4 mt-md-5">Display & Settings</h5>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.favicon | as_crispy_field }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.header_logo | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.footer_logo | as_crispy_field }}
            </div>
          
        </div>
    </div>

    <!-- Social media  -->
    <div>
        <h5 class="mb-2 mb-md-3 mt-4 mt-md-5">Social Media</h5>
        <hr>
        <div class="row">
            <div class="col-12">
                {{ form.facebook_url | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.linkedin_url | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.instagram_url | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.youtube_url | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.tiktok_url | as_crispy_field }}
            </div>
        </div>
    </div>

    <!-- Social media  -->
    <div>
        <h5 class="mb-2 mb-md-3 mt-4 mt-md-5">Meta for SEO</h5>
        <hr>
        <div class="row">
            <div class="col-12">
                {{ form.meta_title | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.meta_description | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.meta_keywords | as_crispy_field }}
            </div>
            <!-- <div class="col-12">
                {{ form.og_image | as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.google_site_verification | as_crispy_field }}
            </div> -->
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4 me-3">Submit</button>
    <a href="{% url 'dashboard' %}" class="btn btn-dark mt-4"> Cancel</a>
</form>


{% endblock content %}